<a href="https://colab.research.google.com/github/azizbekb/Pandas/blob/main/amaliyot_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
import numpy as np

In [24]:

df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population.csv", index_col=0)

### 1-VAZIFA. Yuqoridagi DF ustunlari nomini quyidagi qiymatlarga o'zgartiring va DF yuqorisidan 3 ta davlatni chiqaring
`['davlat','zichlik_km','zichlik_mi','aholi','maydoni']`

In [25]:
# JAVOBNI SHUYERGA YOZING
df.columns=['davlat','zichlik_km','zichlik_mi','aholi','maydoni']
df.head(3)

         davlat  zichlik_km  zichlik_mi     aholi  maydoni
rank
1         Macau  21946.4667  56841.3487   658.394       30
2        Monaco  19755.5000  51166.7450    39.511        2
3     Singapore   8305.1915  21510.4461  5896.686      710

## Yuqoridagi jadval dunyo davlatlarining aholi zichligi bo'yicha reytingini ko'rsatadi. 
DF indeksi sifatida davlatning zichlik reytingi olingan (aholi eng zich yashaydigan davlatlar yuqorida).

**Ustunlar:**

`davlat` - Davlat nomi

`zichlik_km` - har 1 kv.km. ga to'g'ri keluvchi aholi soni

`zichlik_mi` - har 1 kv.milyaga to'g'ri keluvchi aholi soni (milya - AQSh masofa o'lchov birligi)

`aholi` - 2021-yilga ko'rsa aholi soni (ming)

`maydoni` - davlat maydoni (kv.km)

### 2-VAZIFA. DF oxiridan 10 ta qator chiqaring.

In [26]:
# JAVOBNI SHUYERGA YOZING
df.tail(10)

                davlat  zichlik_km  zichlik_mi      aholi  maydoni
rank
223             Guyana      3.6765      9.5220    790.326   214969
224      French Guiana      3.6685      9.5015    306.448    83534
225           Suriname      3.6125      9.3564    591.800   163820
226          Australia      3.3526      8.6832  25788.215  7692024
227            Iceland      3.3335      8.6338    343.353   103000
228            Namibia      3.1338      8.1166   2587.344   825615
229     Western Sahara      2.3003      5.9577    611.875   266000
230           Mongolia      2.1286      5.5129   3329.289  1564110
231   Falkland Islands      0.2902      0.7517      3.533    12173
232          Greenland      0.0263      0.0680     56.877  2166086

### 3-VAZIFA. DF dan 10, 20, 100, 200-indekslarda turgan davlatlarni alohida DF ko'rinishida chiqaring.

In [27]:
# JAVOBNI SHUYERGA YOZING
df.iloc[[10,20,100,200]]

          davlat  zichlik_km  zichlik_mi       aholi  maydoni
rank
11    Bangladesh   1126.9465   2918.7915  166303.498   147570
21    San Marino    557.6557   1444.3284      34.017       61
101        Benin    110.5560    286.3401   12451.040   112622
201     Paraguay     17.7495     45.9712    7219.638   406752

### 4-VAZIFA. Davlatlar orasida `Uzbekistan`, `Hong-Kong`, `Antartica` borligini tekshiring

In [28]:
# JAVOBNI SHUYERGA YOZING
df[df['davlat'].isin(['Uzbekistan', 'Hong-Kong', 'Antartica'])]

          davlat  zichlik_km  zichlik_mi      aholi  maydoni
rank
133   Uzbekistan     75.8511    196.4542  33935.763   447400

### 5-VAZIFA.
#### 5.1 DFning `davlat` nomli ustunini uning indeksi qilib belgilang. 
#### 5.2 `davlat` ustunini tashlab yuboring.
#### 5.3 DFni davlat nomi bo'yicha tartiblang

In [34]:
# JAVOBNI SHUYERGA YOZING
df=df.set_index('davlat')
df.drop('davlat', axis=1)
df.sort_values(by='davlat').head()

                zichlik_km  zichlik_mi      aholi  maydoni
davlat
Afghanistan        61.0757    158.1862  39835.428   652230
Albania            99.9351    258.8318   2872.933    28748
Algeria            18.7328     48.5179  44616.624  2381741
American Samoa    276.8844    717.1307     55.100      199
Andorra           165.2885    428.0971     77.355      468

### 6-VAZIFA. DF dan `Uzbekistan`, `Malaysia`, `South Korea`, `France` davlatlari `aholi` va `maydoni` ustunlari bilan alohida DF ko'rinishida ajratib oling.

In [35]:
# JAVOBNI SHUYERGA YOZING
df.loc[['Uzbekistan','Malaysia','South Korea','France'], ['aholi','maydoni']]

                 aholi  maydoni
davlat
Uzbekistan   33935.763   447400
Malaysia     32776.194   330803
South Korea  51305.186   100210
France       65426.179   551695

### 7-VAZIFA. Asl DFning `aholi` ustuni qiymatlarini 1000 ga ko'paytiring.

In [36]:
# JAVOBNI SHUYERGA YOZING
df['aholi'] = df['aholi'] * 1000
df.sort_index().head()

                zichlik_km  zichlik_mi       aholi  maydoni
davlat
Afghanistan        61.0757    158.1862  39835428.0   652230
Albania            99.9351    258.8318   2872933.0    28748
Algeria            18.7328     48.5179  44616624.0  2381741
American Samoa    276.8844    717.1307     55100.0      199
Andorra           165.2885    428.0971     77355.0      468

DF ni `aholi` ustuni bo'yicha kamayish tartibida tahlang va aholisi eng kam 10 ta davlatni chiqaring.

In [37]:
# JAVOBNI SHUYERGA YOZING
df.sort_values(by='aholi').head(10)

                           zichlik_km  zichlik_mi    aholi  maydoni
davlat
Vatican City                 800.0000   2072.0000    800.0        1
Tokelau                      114.4167    296.3392   1373.0       12
Niue                           6.2269     16.1277   1619.0      260
Falkland Islands               0.2902      0.7517   3533.0    12173
Montserrat                    48.7941    126.3768   4977.0      102
Saint Pierre and Miquelon     23.8264     61.7105   5766.0      242
Saint Barthelemy             471.7619   1221.8633   9907.0       21
Nauru                        517.9048   1341.3733  10876.0       21
Wallis and Futuna             78.1268    202.3483  11094.0      142
Tuvalu                       458.8846   1188.5112  11931.0       26

### 8-VAZIFA. DFni `maydoni` bo'yicha reytinglang (rank) va reytinglarni yangi `rank` ustuniga yozing.

In [38]:
# JAVOBNI SHUYERGA YOZING
df['rank']=df['maydoni'].rank()
df.sort_index()

                   zichlik_km  zichlik_mi       aholi  maydoni   rank
davlat
Afghanistan           61.0757    158.1862  39835428.0   652230  192.0
Albania               99.9351    258.8318   2872933.0    28748   89.0
Algeria               18.7328     48.5179  44616624.0  2381741  223.0
American Samoa       276.8844    717.1307     55100.0      199   20.0
Andorra              165.2885    428.0971     77355.0      468   38.0
...                       ...         ...         ...      ...    ...
Wallis and Futuna     78.1268    202.3483     11094.0      142   15.0
Western Sahara         2.3003      5.9577    611875.0   266000  155.0
Yemen                 57.7509    149.5749  30490640.0   527968  183.0
Zambia                25.1400     65.1125  18920651.0   752612  194.0
Zimbabwe              38.6229    100.0333  15092171.0   390757  172.0

[232 rows x 5 columns]

#### `Uzbekistan`, `United Kingdom`, `Indonesia` davlatlari alohida df ko'rinishida chiqaring

In [39]:
# JAVOBNI SHUYERGA YOZING
df.loc[['Uzbekistan','United Kingdom', 'Indonesia']]

                zichlik_km  zichlik_mi        aholi  maydoni   rank
davlat
Uzbekistan         75.8511    196.4542   33935763.0   447400  176.0
United Kingdom    280.8033    727.2805   68207116.0   242900  153.0
Indonesia         145.1046    375.8210  276361783.0  1904569  218.0

### 9-VAZIFA. DFni `davlat` nomi bo'yicha tartiblang.

In [40]:
# JAVOBNI SHUYERGA YOZING
df.sort_values('davlat').head()

                zichlik_km  zichlik_mi       aholi  maydoni   rank
davlat
Afghanistan        61.0757    158.1862  39835428.0   652230  192.0
Albania            99.9351    258.8318   2872933.0    28748   89.0
Algeria            18.7328     48.5179  44616624.0  2381741  223.0
American Samoa    276.8844    717.1307     55100.0      199   20.0
Andorra           165.2885    428.0971     77355.0      468   38.0

#### DFdan 10,50,100,200-o'rinda turgan davlatlarni alohida DF ko'rinishida chiqaring

In [41]:
# JAVOBNI SHUYERGA YOZING
df.iloc[[10,50,100,200]]

                     zichlik_km  zichlik_mi        aholi  maydoni   rank
davlat
Bangladesh            1126.9465   2918.7915  166303498.0   147570  139.0
Trinidad and Tobago    273.5624    708.5266    1403375.0     5130   61.0
Benin                  110.5560    286.3401   12451040.0   112622  131.0
Paraguay                17.7495     45.9712    7219638.0   406752  173.0

### 10-VAZIFA. Quyidagi davlatlarning `aholi` sonini oddiy son ko'rinishida chiqaring:
- `Malaysia`
- `Nigeria`
- `Nepal`
- `Italy`

In [42]:
# JAVOBNI SHUYERGA YOZING
print(df.loc['Malaysia','aholi'])
print(df.loc['Nigeria','aholi'])
print(df.loc['Nepal','aholi'])
print(df.loc['Italy','aholi'])

32776194.000000004
211400708.0
29674920.0
60367477.0