<a href="https://colab.research.google.com/github/azizbekb/Pandas/blob/main/amaliyot_yakuniy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas kutubxonasiga doir bilimlaringizni mustaxkamlash uchun mashqlar!

Hurmatli o'quvchi, bilimingizni yanada mustaxkamlashingiz va chuqurroq ko'nikmalarga ega bo'lishingiz uchun sizga topshiriqlar tayyorladik. Sizga yengillik yaratish maqsadida topshiriqlarni `ðŸ“ŒMavzulashtirdik`

## `ðŸ“ŒPandas kutubxonasini yuklash`

**1.** Pandas kutubxonasini `pd` nomi ostida yuklang va pandas kutubxonasini chop eting.

In [1]:
import pandas as pd

**2.** Versiya va konfiguratsiyani tekshiring.

In [2]:
print(pd.__version__)
print(pd.options)

1.5.3
<pandas._config.config.DictWrapper object at 0x7fe8f1dbd8a0>

**3.** Pandas kutubxonasida mavjud bo'lgan barcha versiya ma'lumotlarini chop eting.

In [3]:
pd.show_versions()

/usr/local/lib/python3.10/dist-packages/_distutils_hack/__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 2e218d10984e9919f0296931d92ea851c6a6faf5
python           : 3.10.11.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.15.107+
Version          : #1 SMP Sat Apr 29 09:15:28 UTC 2023
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.5.3
numpy            : 1.22.4
pytz             : 2022.7.1
dateutil         : 2.8.2
setuptools       : 67.7.2
pip              : 23.1.2
Cython           : 0.29.34
pytest           : 7.2.2
hypothesis       : None
sphinx           : 3.5.4
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.9.2
html5lib         : 1.1
pymysql          : None
psycopg2         : 2.9.6
jinja2           : 3.1.2
IPython          : 7.34.0
pandas_datareader: 0.10.0
bs4              : 4.11.2
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : 2023.4.0
gcsfs            : None
matplotlib       : 3.7.1
numba            : 0.56.4
numexpr          : 2.8.4
odfpy            : None
openpyxl         : 3.0.10
pandas_gbq       : 0.17.9
pyarrow          : 9.0.0
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.10.1
snappy           : None
sqlalchemy       : 2.0.10
tables           : 3.8.0
tabulate         : 0.8.10
xarray           : 2022.12.0
xlrd             : 2.0.1
xlwt             : None
zstandard        : None
tzdata           : 2023.3

## `ðŸ“ŒDataFrame: Asoslar`

DataFrames-da ma'lumotlarni tanlash(selecting), saralash(sorting), qo'shish(adding) va yig'ish(aggregating) uchun bir nechta asosiy mashqlar.

ðŸ’¡Eslatma: NumPy kutubxonasini import qilishni unutmang:
``` python
import numpy as np
```

Quyidagi Python lug'ati(dictionary) `data` va Python ro'yxati(list) `labels` ni ko'rib chiqing:


``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

In [4]:
import numpy as np
data={'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
      'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
      'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
      'priority':['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**4.** Ushbu `lug'at`(dictionary) yordamida `data` dan `labels` indeksiga ega DataFrame yarating.

In [5]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**5.** Ushbu DataFrame va uning ma'lumotlari haqidagi asosiy ma'lumotlarning qisqacha mazmunini ko'rsating.

`ðŸ’¡Ishora:` DataFrame-da chaqirilishi mumkin bo'lgan yagona usul mavjud.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

**6.** DataFrame `df` dastlabki 3 qatorini qaytaring.

In [7]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**7.** DataFrame `df`-dan faqat `animal` va `age` ustunlarini tanlang.

In [8]:
df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**8.** `[3, 4, 8]` va `['animal', 'age']` qatorlaridagi ma'lumotlarni tanlang.

In [9]:
df.loc[['c','d','h'], ['animal', 'age']]

  animal  age
c  snake  0.5
d    dog  NaN
h    cat  NaN

**9.** Faqat `visits` soni 3 tadan ko'p bo'lgan qatorlarni tanlang.

In [10]:
df[df['visits'] > 3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**10.** Yosh yo'qolgan qatorlarni tanlang, ya'ni `NaN`

In [11]:
df[df['age'].isna()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**11.** `animal` qatoridagi `cat` va `age` qatoridagi `3` dan kichik bo'lgan umumiy qatorlarni tanlang.

In [12]:
df[(df.animal=='cat') & (df.age<3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**12.** `age` 2 va 4 (shu jumladan) orasidagi qatorlarni tanlang.

In [13]:
df[df['age'].between(2,4)]
# df[(df.age>=2) & (df.age<=4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

**13.** `f` qatoridagi yoshni `1,5` ga o'zgartiring.

In [14]:
df.loc['f', 'age']=1.5
df.at['f','age']

1.5

**14.** `df` yordamida `visits` qatorining yig'indisini hisoblang.

In [15]:
df['visits'].sum()

19

**15.** Har bir `animal` uchun o'rtacha yoshni `df` da hisoblang.

In [16]:
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

**16.** `df` yordamida har bir turdagi `animal` sonini hisoblang.

In [17]:
df['animal'].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

**17.** `animal` ustunida, `snake` so'zini `python` so'ziga o'zgartiring.

In [18]:
df['animal'].replace('snake', 'python')
# df['animal'].apply(lambda x: 'python' if x == 'snake' else x)

a       cat
b       cat
c    python
d       dog
e       dog
f       cat
g    python
h       cat
i       dog
j       dog
Name: animal, dtype: object

## `ðŸ“ŒDataFrame: Murakkab`

### Bir oz qiyinroq: to'g'ri javob olish uchun ikki yoki undan ortiq usullarni birlashtirish kerak bo'lishi mumkin

Oldingi bo'lim DataFrame-ning asosiy, ammo muhim operatsiyalari bo'yicha vazifalarni jamlagan edi. Quyida ma'lumotlarni kesishingiz kerak bo'lgan mashqlar mavjud.

**18.** Sizda butun sonlardan iborat `A` ustunli DataFrame `df` mavjud. Misol uchun:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

Yuqoridagi qator bilan bir xil butun sonni o'z ichiga olgan qator yarating.


ðŸ’¡Quyidagi qiymatlarni o'chirishingiz kerak:

```python
1, 2, 3, 4, 5, 6, 7
```

In [19]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df = pd.DataFrame({'A': df['A'].unique()})
#df = df.drop_duplicates(subset='A', keep=False)
df

   A
0  1
1  2
2  3
3  4
4  5
5  6
6  7

**19.** Raqamli qiymatlardan iborat DataFrame berildi

```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # float qiymatlarining 5x3 o'lchovi
```

Qatordagi har bir elementdan satr o'rtasini ajrating.

In [20]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df['Row Mean'] = df.mean(axis=1)
df

          0         1         2  Row Mean
0  0.432038  0.126296  0.288725  0.282353
1  0.922949  0.307591  0.924778  0.718440
2  0.390578  0.052725  0.877842  0.440382
3  0.648942  0.589501  0.780167  0.672870
4  0.862224  0.011020  0.650046  0.507763

**20.** Sizda 10 ta haqiqiy raqamlar ustunidan iborat DataFrame mavjud:

``` python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Qaysi sonlar ustunining yig'indisi eng kichik ekanini hisoblang. U ustunning yorlig'ini qaytaring.

In [21]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
column_sums = df.sum()
min_sum_column = column_sums.idxmin()
min_sum_column

'f'

**21.** Quyida butun sonlardan iborat DataFrame `df` mavjud. Har bir satrga  5 ta yozuv `NaN` qiymatlari kiritilgan.

DataFrame ning har bir qatori uchun uchinchi `NaN` qiymatini o'z ichiga olgan ustunni toping.

Ustun yorliqlarini qaytarishingiz kerak: `e, c, d, h, d`

In [22]:
nan = np.nan

data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]

columns = list('abcdefghij')

df = pd.DataFrame(data, columns=columns)

# Javobni bu yerga yozing!
third_nan_columns = []
for index, row in df.iterrows():
    third_nan_columns.append(row.isna().idxmin())
print("Ustunlar yorlig'i:", ', '.join(third_nan_columns))

Ustunlar yorlig'i: a, d, c, a, c

**22.** DataFrame `grps` guruhlari ustuniga va `vals` butun qiymatlari ustuniga ega:

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
Har bir `grps` uchun uchta eng katta qiymatning yigâ€˜indisini toping. 

ðŸ’¡Javobni quyidagicha yakunlashingiz kerak:
```
grps
a    409
b    156
c    345
```

In [23]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

# Javobni bu yerga yozing!
df.groupby('grps')['vals'].nlargest(3).sum(level=0)

<ipython-input-23-0925f1fbb308>:5: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  df.groupby('grps')['vals'].nlargest(3).sum(level=0)

grps
a    409
b    156
c    345
Name: vals, dtype: int64

**23.** Quyida tuzilgan DataFrame `df` ikkita butun son ustuniga ega 'A' va 'B'. "A" dagi qiymatlar 1 dan 100 gacha (shu jumladan).

â€œAâ€ dagi har bir 10 ta ketma-ket butun sonlar guruhi uchun (yaâ€™ni `(0, 10]`, `(10, 20]`, ...) 'B' ustunidagi mos qiymatlar yig'indisini hisoblang.

Javob quyidagicha bo'lishi kerak:

```
A
(0, 10]      635
(10, 20]     360
(20, 30]     315
(30, 40]     306
(40, 50]     750
(50, 60]     284
(60, 70]     424
(70, 80]     526
(80, 90]     835
(90, 100]    852
```

In [24]:
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), columns = ["A", "B"])

# Javobni bu yerga yozing!
# A ustunidagi qiymatlar uchun bins
bins = range(0, 101, 10)
labels = ['({}-{}]'.format(bins[i], bins[i+1]) for i in range(len(bins)-1)]

# Interval holatda B ustunidagi qiymatlar
df['interval'] = pd.cut(df['B'], bins=bins, labels=labels, right=False)

# A ustunidagi qiymatlarni birlashtirib yig'indisini hisoblaymiz
grouped = df.groupby(pd.cut(df['A'], bins=bins, labels=labels, right=False))['A'].sum()
result = df.groupby('interval')['B'].sum()

print(grouped)
print(result)

A
(0-10]        69
(10-20]      115
(20-30]      169
(30-40]      175
(40-50]      537
(50-60]      383
(60-70]      645
(70-80]      822
(80-90]     1010
(90-100]    1326
Name: A, dtype: int64
interval
(0-10]        25
(10-20]      164
(20-30]      291
(30-40]      236
(40-50]      473
(50-60]      878
(60-70]      572
(70-80]      585
(80-90]      926
(90-100]    1137
Name: B, dtype: int64

**24.** 'X' butun son ustuni bo'lgan DataFrame:
```python
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
```

Har bir qiymat uchun farqni oldingi nolga qaytaring. 

Sizda natija quyidagicha bo'lishi kerak:

```
[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]
```

Buni yangi `Y` ustuni deb nomlang.

In [25]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df['Y'] = (df['X'] != 0).cumsum() - 1

print(df['Y'].tolist())

[0, 1, 1, 2, 3, 4, 5, 5, 6, 7]

##`ðŸ“ŒMa'lumotlarni tozalash`

Bu har doim sodir bo'ladi: kimdir sizga noto'g'ri tuzilgan satrlar, ro'yxatlar va yetishmayotgan ma'lumotlarni o'z ichiga olgan ma'lumotlarni beradi. Tahlilni davom ettirish uchun uni qanday tartibga keltirasiz?

**25.** Quyidagi jumboqni tasavvur qilishi uchun ushbu misolni DataFrame sifatida oling:

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
```
Tartiblaganingizdan so'ng u quyidagi ko'rinishga ega bo'lishi kerak:

```
            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"
```

In [26]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

**26.** **FlightNumber** ustunidagi ba'zi qiymatlar yo'q. Ular `NaN` ko'rinishida yozilgan. Bu raqamlar har bir qatorda 10 ga ko'payishi kerak, shuning uchun 10055 va 10075 ni qo'yish kerak. Ushbu yetishmayotgan raqamlarni to'ldirish uchun `df` ni o'zgartiring va ustunni butun son ustuniga aylantiring.

In [27]:
# NaN qiymatlarni to'ldirish
df['FlightNumber'] = df['FlightNumber'].fillna(0)

# Har bir qiymatni 10 ga ko'paytirish
df['FlightNumber'] = df['FlightNumber'] + 10 * df.index

# Ustunni butun son ustuniga aylantirish
df['FlightNumber'] = df['FlightNumber'].astype(int)

print(df)

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN            10            []    <Air France> (12)
2  londON_StockhOlm         10085  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis            30          [13]       12. Air France
4   Brussels_londOn         10125      [67, 32]          "Swiss Air"

**27.** **From\_To** ustunini ikkita alohida ustun ko'rinishida yozing.                                          

To'g'ri qiymatlarga ega `temp` deb nomlangan yangi Temporary DataFrame berish uchun har bir satrni pastki chiziq chegarasiga ajrating.                                                                     Ushbu Temporary DataFrame ustunlarini `From` va `To` deb nomlang.

In [28]:
# Temporary DataFrame yaratish
temp = df.copy()

# From va To ustunlarni yaratish
temp[['From', 'To']] = df['From_To'].str.split('_', expand=True)

# Ajratish uchun pastki chiziq chegaralarini qo'shish
temp['From'] = temp['From'].str.capitalize()
temp['To'] = temp['To'].str.capitalize()

print(temp[['From', 'To']])

       From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

**28.** Temporary DataFrame `temp` da shahar nomlari betartib yozilgan.Satrlarning faqat birinchi harfi katta yozilishi kerak.
                                                                         (Masalan, "londON" "London" bo'lishi kerak.)

In [29]:
# Temporary DataFrame yaratish
temp = df.copy()

# Shahar nomlarini betartib yozish
temp['From'] = temp['From_To'].str.split('_').str[0].str.capitalize()
temp['To'] = temp['From_To'].str.split('_').str[1].str.capitalize()

print(temp[['From', 'To']])

       From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

**29**. `Airline` ustunida aviakompaniya nomlari atrofida qoÊ»shimcha tinish belgilari va belgilar paydo boÊ»lganini koÊ»rishingiz mumkin. Faqat aviakompaniya nomini qoldiring. Masalan, Ê»'(British Airways. )'' `British Airways` ko'rinishida yozilishi kerak.

In [30]:
# Airline ustunidagi aviakompaniya nomlarini tozalash
df['Airline'] = df['Airline'].str.replace(r'\W+', '')

print(df['Airline'])

0               KLM
1       AirFrance12
2    BritishAirways
3       12AirFrance
4          SwissAir
Name: Airline, dtype: object

<ipython-input-30-2b83d129cb96>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Airline'] = df['Airline'].str.replace(r'\W+', '')

**30.** `df` dan **From_To** ustunini o'chiring va Temporary DataFrame `temp` ustunini qo'shing.

In [32]:
# Temporary DataFrame temp ni yaratish
temp = df.copy()

# From_To ustunining mavjudligini tekshirish
if 'From_To' in df.columns:
    # From_To ustunini o'chirish
    df.drop('From_To', axis=1, inplace=True)
    # Temporary DataFrame ga From_To ustunini qo'shish
    temp[['From', 'To']] = df['From_To'].str.split('_', expand=True)

print(temp)

   FlightNumber  RecentDelays         Airline
0         10045      [23, 47]             KLM
1            10            []     AirFrance12
2         10085  [24, 43, 87]  BritishAirways
3            30          [13]     12AirFrance
4         10125      [67, 32]        SwissAir

**31**. `RecentDelays` ustunida qiymatlar DataFrame-ga ro'yxat sifatida kiritilgan. Sizning vazifangiz birinchi qiymatni o'z ustunida, har bir ikkinchi qiymatni o'z ustunida va qolgan qiymatlar ham ustunga mos holda chop etish. Agar N-chi qiymat bo'lmasa, qiymat `NaN` deb nomlanishi kerak.

RoÊ»yxatlar qatorini `delays` nomli DataFrame ichiga kengaytiring, `delay_1`, `delay_2` va qolgan ustunlarni ham nomlarini oÊ»zgartiring va `df` dagi keraksiz `RecentDelays` ustunini `delays` bilan almashtiring.

Natija quyidagi ko'rinishda bo'lishi kerak:
```
   FlightNumber          Airline      From         To  delay_1  delay_2  delay_3
0         10045              KLM    London      Paris     23.0     47.0      NaN
1         10055       Air France    Madrid      Milan      NaN      NaN      NaN
2         10065  British Airways    London  Stockholm     24.0     43.0     87.0
3         10075       Air France  Budapest      Paris     13.0      NaN      NaN
4         10085        Swiss Air  Brussels     London     67.0     32.0      NaN
```

In [38]:
# From va To ustunlarini yaratish
df[['From', 'To']] = df['From_To'].str.split('_', expand=True)

# Temporary DataFrame yaratish
temp = df.copy()

# RecentDelays ustunini ajratib olish
delays = pd.DataFrame(temp['RecentDelays'].tolist(), columns=[f'delay_{i+1}' for i in range(temp['RecentDelays'].str.len().max())])

# RecentDelays ustunini o'chirish
temp.drop('RecentDelays', axis=1, inplace=True)

# temp ga delays ustunlarini qo'shish
temp = pd.concat([temp, delays], axis=1)

# 'From_To' ustunini o'chirish
temp.drop('From_To', axis=1, inplace=True)

print(temp)

   FlightNumber         Airline  delay_1  delay_2  delay_3
0         10045             KLM     23.0     47.0      NaN
1            10     AirFrance12      NaN      NaN      NaN
2         10085  BritishAirways     24.0     43.0     87.0
3            30     12AirFrance     13.0      NaN      NaN
4         10125        SwissAir     67.0     32.0      NaN

##`ðŸ“ŒMinesweeper`


### Minesweeper tarmog'ida xavfsiz kvadratlar uchun raqamlar yaratamiz!

ðŸ’¡ Agar siz Windowsning avvalgi versiyalaridan foydalangan bo'lsangiz, Minesweeper bilan tanishsiz:
- https://en.wikipedia.org/wiki/Minesweeper_(video_game)

Agar siz o'yin bilan tanish bo'lmasangiz, kvadratchalar to'plamini tasavvur qiling: bu kvadratlarning ba'zilari mineni yashiradi. Agar siz mineni bossangiz, darhol yo'qotasiz. Agar siz xavfsiz kvadratni bossangiz, darhol qo'shni bo'lgan kvadratchalarda qancha mine borligini ko'rsatadigan raqamni ko'rasiz. O'yinning maqsadi to'rdagi mine bo'lmagan barcha kvadratlarni ochishdir.

Ushbu bo'limda biz Minesweeper o'yini uchun kerakli ma'lumotlarni o'z ichiga olgan DataFrame yaratamiz: kvadratlarning koordinatalari, kvadratda mine bormi va qo'shni kvadratlarda topilgan minelar sonini aniqlaymiz!

**32**. Tasavvur qiling, biz Minesweeper o'yinini 5 dan 4 gacha bo'lgan panjarada o'ynayapmiz, ya'ni.
```
X = 5
Y = 4
```
Boshlash uchun ikkita ustunli DataFrame `df` yarating, bu tarmoq uchun har bir koordinatani o'z ichiga olgan `'x'` va `'y'`. Ya'ni DataFrame ishga tushishi kerak:
```
    x y
0 0 0
1 0 1
2 0 2
```

In [39]:
# from itertools import product --> product funksiyasi
X = 5
Y = 4

data = []
for x in range(X):
    for y in range(Y):
        data.append((x, y))
# coords = list(product(range(X), range(Y))) 
df = pd.DataFrame(data, columns=['x', 'y'])

print(df)

    x  y
0   0  0
1   0  1
2   0  2
3   0  3
4   1  0
5   1  1
6   1  2
7   1  3
8   2  0
9   2  1
10  2  2
11  2  3
12  3  0
13  3  1
14  3  2
15  3  3
16  4  0
17  4  1
18  4  2
19  4  3

**33**. Ushbu DataFrame `df` uchun yangi nol (safe) va birliklar (mine) ustunini yarating. Har bir joyda mine sodir bo'lish ehtimoli 0,4 bo'lishi kerak.

In [40]:
df['safe'] = np.random.choice([0, 1], size=len(df), p=[0.6, 0.4])
print(df)

    x  y  safe
0   0  0     0
1   0  1     1
2   0  2     0
3   0  3     0
4   1  0     0
5   1  1     0
6   1  2     0
7   1  3     0
8   2  0     1
9   2  1     0
10  2  2     1
11  2  3     1
12  3  0     0
13  3  1     0
14  3  2     1
15  3  3     0
16  4  0     0
17  4  1     1
18  4  2     1
19  4  3     0

**34**. Endi ushbu DataFrame uchun `adjacent` nomli yangi ustun yarating. Ushbu ustunda tarmoqdagi qo'shni kvadratlarda topilgan minelar soni bo'lishi kerak.

(Masalan, `(0, 0)` koordinatasi uchun yozuv bo'lgan birinchi qator uchun `(0, 1)`, `(1, 0)` va `(1) koordinatalarida qancha mine borligini hisoblang. , 1)`.)

In [41]:
df['adjacent'] = df.apply(lambda row: df.loc[(df['x'].between(row['x'] - 1, row['x'] + 1)) & 
                                             (df['y'].between(row['y'] - 1, row['y'] + 1)) & 
                                             (df['safe'] == 1)].shape[0], axis=1)
print(df)

    x  y  safe  adjacent
0   0  0     0         1
1   0  1     1         1
2   0  2     0         1
3   0  3     0         0
4   1  0     0         2
5   1  1     0         3
6   1  2     0         3
7   1  3     0         2
8   2  0     1         1
9   2  1     0         3
10  2  2     1         3
11  2  3     1         3
12  3  0     0         2
13  3  1     0         5
14  3  2     1         5
15  3  3     0         4
16  4  0     0         1
17  4  1     1         3
18  4  2     1         3
19  4  3     0         2

**35**. Mineni o'z ichiga olgan DataFrame qatorlari uchun `adjacent` ustunidagi qiymatni `NaN` ga o'zgartiring.

In [42]:
df.loc[df['safe'] == 0, 'adjacent'] = np.nan
print(df)

    x  y  safe  adjacent
0   0  0     0       NaN
1   0  1     1       1.0
2   0  2     0       NaN
3   0  3     0       NaN
4   1  0     0       NaN
5   1  1     0       NaN
6   1  2     0       NaN
7   1  3     0       NaN
8   2  0     1       1.0
9   2  1     0       NaN
10  2  2     1       3.0
11  2  3     1       3.0
12  3  0     0       NaN
13  3  1     0       NaN
14  3  2     1       5.0
15  3  3     0       NaN
16  4  0     0       NaN
17  4  1     1       3.0
18  4  2     1       3.0
19  4  3     0       NaN

**36**. DataFrame-ni `adjacent` minelar sonining panjarasiga aylantiring: ustunlar `x` koordinatasi, qatorlar `y` koordinatasi.

In [43]:
pivot_df = df.pivot(index='y', columns='x', values='adjacent')
print(pivot_df)

x    0   1    2    3    4
y
0  NaN NaN  1.0  NaN  NaN
1  1.0 NaN  NaN  NaN  3.0
2  NaN NaN  3.0  5.0  3.0
3  NaN NaN  3.0  NaN  NaN